{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title -->
    <title>Bringer | About Us</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">
    <!-- Config -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/config.css' %}">
    <!-- Libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/libs.css' %}">
    <!-- Template Styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png" sizes="32x32">
</head>
<body>
    <!-- Header -->
    <header id="bringer-header" class="is-frosted is-sticky" data-appear="fade-down" data-unload="fade-up">
        <!-- Desktop Header -->
        <div class="bringer-header-inner">
            <!-- Header Logo -->
            <div class="bringer-header-lp">
                <a href="./" class="bringer-logo">
                    <img src="img/logo.png" alt="bringer." width="88" height="24">
                </a>
            </div>
            <!-- Main Menu -->
            <div class="bringer-header-mp">
                <nav class="bringer-nav">
                    <ul class="main-menu" data-stagger-appear="fade-down" data-stagger-delay="75">
                        <li>
                            <a href="{% url 'index'%}">Главное</a>
                        </li>
                        <li class="current-menu-parent">
                            <a href="{% url 'about'%}">О нас</a>
                        </li>
                        <li>
                            <a href="#">Страницы</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="services.html">Наши услуги</a>
                                </li>
                                <li>
                                    <a href="service-details.html">Детали услуги</a>
                                </li>
                                <li>
                                    <a href="pricing.html">Цены</a>
                                </li>
                                <li>
                                    <a href="faq.html">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ.</a>
                                </li>
                                <li>
                                    <a href="testimonials.html">Отзывы</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Портфолио</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="portfolio-infinite-list.html">Бесконечный список</a>
                                </li>
                                <li>
                                    <a href="portfolio-slider.html">Слайдер</a>
                                </li>
                                <li>
                                    <a href="portfolio-column.html">Карточки-колонки</a>
                                </li>
                                <li>
                                    <a href="portfolio-grid.html">Классическая сетка</a>
                                </li>
                                <li class="bringer-menu-divider"></li>
                                <li>
                                    <a href="portfolio-post01.html">Подробности портфолио 01</a>
                                </li>
                                <li>
                                    <a href="portfolio-post02.html">Подробности портфолио 02</a>
                                </li>
                                <li>
                                    <a href="portfolio-post03.html">Подробности портфолио 03</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Header Button -->
            <div class="bringer-header-rp">
                <a href="contacts.html" class="bringer-button">Получите БЕСПЛАТНУЮ цену</a>
            </div>
        </div>
        <!-- Mobile Header -->
        <div class="bringer-mobile-header-inner">
            <a href="./" class="bringer-logo">
                <img src="img/logo.png" alt="bringer." width="88" height="24">
            </a>
            <a href="#" class="bringer-mobile-menu-toggler">
                <i class="bringer-menu-toggler-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </i>
            </a>
        </div>
    </header>

    <!-- Page Main -->
    <main id="bringer-main">
        <div class="stg-container">
            <!-- Section: Page Title -->
            <section class="backlight-bottom">
                <div class="stg-row">
                    <div class="stg-col-6 stg-offset-3 align-center stg-tp-col-10 stg-tp-offset-1">
                        <h1 class="bringer-page-title" data-appear="fade-up" data-unload="fade-up">О нас</h1>
                        <p class="bringer-large-text" data-split-appear="fade-up" data-split-unload="fade-up" data-delay="100">Мы увлеченная команда дизайнеров и разработчиков, которые верят 👽 в силу ⚡ творчества.</p>
                    </div>
                </div>
            </section>

            <!-- Section: About Us -->
            <section class="divider-bottom">
                <div class="bringer-parallax-media stg-bottom-gap-l" data-appear="fade-up" data-delay="200" data-unload="fade-up">
                    <img class="bringer-lazy" src="img/null.png" data-src="img/inner-pages/about-us.jpg" alt="About Bringer" width="1920" height="960">
                </div>
                <div class="stg-row stg-large-gap stg-tp-normal-gap">
                    <div class="stg-col-6 stg-vertical-space-between stg-tp-bottom-gap-l" data-unload="fade-left">
                        <h2 data-split-appear="fade-up">Зажигающие бренды, которые вызывают движение.</h2>
                        <div class="align-right" data-appear="fade-right">
                            <a href="portfolio-infinite-list.html" class="bringer-icon-link">
                                <div class="bringer-icon-link-content">
                                    <h6>
                                        Раскройте свой
                                        <br>
                                        Потенциал бренда
                                    </h6>
                                    <span class="bringer-label">Изучите нашу работу</span>
                                </div>
                                <div class="bringer-icon-wrap">
                                    <i class="bringer-icon bringer-icon-explore"></i>
                                </div>
                            </a><!-- .bringer-icon-link -->
                        </div>
                    </div>
                    <div class="stg-col-6" data-appear="fade-left" data-unload="fade-right" data-delay="100">
                        <p class="bringer-large-text">Мы помогаем креативным агентствам, дизайнерам и другим творческим людям общаться с потенциальными клиентами.</p>
                        <p>Мы не просто креативщики; мы — рассказчики брендов, рассказчики и цифровые алхимики. Мы берем ваше видение, наполняем его своей искрой и создаем незабываемые впечатления, которые разжигают воображение и заставляют зрителей просить большего. В Bringer мы не просто создаем бренды, мы создаем движения.</p>
                        <p>Мы — команда увлеченных и опытных дизайнеров, разработчиков и маркетологов, которые специализируются на том, чтобы помочь компаниям любого размера достичь своих целей. Мы считаем, что креативность является ключом к успеху, и стремимся помочь нашим клиентам полностью раскрыть свой потенциал.</p>
                        <p>Мы верим в силу творчества. Мы помогаем творческим профессионалам создать сильное присутствие в Интернете, которое демонстрирует их работы и рассказывает их истории.</p>
                    </div>
                </div>
            </section>

            <!-- Section: Team -->
            <section>
                <!-- Section Title -->
                <div class="stg-row bringer-section-title">
                    <div class="stg-col-8 stg-offset-2 stg-tp-col-10 stg-tp-offset-1">
                        <div class="align-center">
                            <h2 data-appear="fade-up" data-unload="fade-up">Познакомьтесь с командой</h2>
                            <p class="bringer-large-text" data-split-appear="fade-up" data-split-unload="fade-up" data-delay="100">>Мы — команда страстных и опытных дизайнеров, разработчиков и маркетологов, которые специализируются на оказании помощи бизнесу в достижении своих целей.</p>
                        </div>
                    </div>
                </div>
                <!-- Team Carousel -->
                <div class="swiper bringer-carousel" data-appear="fade-up" data-delay="200" data-tp-centered="0" data-unload="fade-up">
                    <div class="swiper-wrapper">
                        <!-- Carousel Item -->
                        <div class="bringer-block bringer-carousel-card swiper-slide">
                            <div class="bringer-carousel-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/team/team01-thmb.jpg" alt="Elizabeth Riley" width="600" height="900">
                            </div>
                            <div class="bringer-carousel-card-footer">
                                <div class="bringer-carousel-card-title">
                                    <span class="bringer-meta">Генеральный директор, основатель</span>
                                    <h6>Толошов Нуразиз</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="team-member.html"></a>
                        </div><!-- .bringer-carousel-card -->
                        <!-- Carousel Item -->
                        <div class="bringer-block bringer-carousel-card swiper-slide">
                            <div class="bringer-carousel-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/team/team02-thmb.jpg" alt="John Belrose" width="600" height="900">
                            </div>
                            <div class="bringer-carousel-card-footer">
                                <div class="bringer-carousel-card-title">
                                    <span class="bringer-meta">Концепт-художник</span>
                                    <h6>Каримов Алихан</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="team-member.html"></a>
                        </div><!-- .bringer-carousel-card -->
                        <!-- Carousel Item -->
                        <div class="bringer-block bringer-carousel-card swiper-slide">
                            <div class="bringer-carousel-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/team/team03-thmb.jpg" alt="Sonya Altena" width="600" height="900">
                            </div>
                            <div class="bringer-carousel-card-footer">
                                <div class="bringer-carousel-card-title">
                                    <span class="bringer-meta">Менеджер по работе с клиентами</span>
                                    <h6>Бакчекова Адэлина</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="team-member.html"></a>
                        </div><!-- .bringer-carousel-card -->
                        <!-- Carousel Item -->
                        <div class="bringer-block bringer-carousel-card swiper-slide">
                            <div class="bringer-carousel-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/team/team04-thmb.jpg" alt="Nikolas Rome" width="600" height="900">
                            </div>
                            <div class="bringer-carousel-card-footer">
                                <div class="bringer-carousel-card-title">
                                    <span class="bringer-meta">Разработчик</span>
                                    <h6>Аслан Байбалаев</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="team-member.html"></a>
                        </div><!-- .bringer-carousel-card -->
                        <!-- Carousel Item -->
                        <div class="bringer-block bringer-carousel-card swiper-slide">
                            <div class="bringer-carousel-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/team/team05-thmb.jpg" alt="Candy Tittensor" width="600" height="900">
                            </div>
                            <div class="bringer-carousel-card-footer">
                                <div class="bringer-carousel-card-title">
                                    <span class="bringer-meta">Художник-дизайнер</span>
                                    <h6>Бакай Адамбаев</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="team-member.html"></a>
                        </div><!-- .bringer-carousel-card -->
                    </div>
                    <!-- Pagination -->
                    <div class="swiper-pagination bringer-dots"></div>
                </div><!-- .bringer-carousel -->
            </section>

            <!-- Section: Our Story -->
            <section class="backlight-top">
                <div class="stg-row stg-large-gap stg-m-normal-gap">
                    <div class="stg-col-6 stg-tp-bottom-gap-l stg-m-bottom-gap" data-appear="fade-right" data-unload="fade-left">
                        <div class="bringer-parallax-media">
                            <img class="bringer-lazy" src="img/null.png" data-src="img/home/about02.jpg" alt="Our Story" width="960" height="960">
                        </div>
                    </div>
                    <div class="stg-col-6 stg-vertical-space-between" data-appear="fade-left" data-unload="fade-right">
                        <div>
                            <h2>От страстного проекта к катализатору бренда</h2>
                            <p class="bringer-large-text">Брингер не родился в зале заседаний; он родился в кофейне, подпитываемый ночными мозговыми штурмами и общей верой в силу творчества.</p>
                            <p>Мы увидели цифровой ландшафт, наполненный шумом и однообразием, и знали, что у нас есть искра, чтобы зажечь что-то новое. Сегодня мы — команда страстных рассказчиков, дизайнеров и стратегов, которые воплощают бренды в жизнь с помощью ярких визуальных эффектов, увлекательных повествований и кампаний, основанных на данных.</p>
                        </div>
                        <a href="contacts.html" class="bringer-icon-link">
                            <div class="bringer-icon-wrap">
                                <i class="bringer-icon bringer-icon-explore"></i>
                            </div>
                            <div class="bringer-icon-link-content">
                                <h6>
                                    Нуразиз
                                    <br>
                                    Движение
                                </h6>
                                <span class="bringer-label">Расскажи свою историю</span>
                            </div>
                        </a><!-- .bringer-icon-link -->
                    </div>
                </div>
            </section>

            <!-- Section: Services -->
            <section class="backlight-bottom divider-top">
                <!-- Section Intro -->
                <div class="stg-row stg-large-gap stg-bottom-gap-l">
                    <div class="stg-col-6 stg-tp-col-8 stg-tp-bottom-gap-l" data-unload="fade-left">
                        <h2 data-split-appear="fade-up">Раскрытие всего спектра магии</h2>
                    </div>
                    <div class="stg-col-6 stg-tp-col-9 stg-tp-offset-3" data-unload="fade-right">
                        <p class="bringer-large-text" data-split-appear="fade-up" data-delay="100">Мы предлагаем широкий спектр креативных услуг, которые помогут компаниям любого размера достичь своих целей.</p>
                        <p data-appear="fade-up" data-delay="200">Мы верим в целостный подход к брендингу. Мы не просто разрабатываем логотипы или пишем тексты; мы разрабатываем стратегии, которые затрагивают все аспекты цифрового опыта вашего бренда. От фирменного стиля и дизайна веб-сайта до маркетинговых кампаний и создания контента — мы — ваш универсальный магазин для раскрытия потенциала вашего бренда. Наши услуги включают в себя:</p>
                    </div>
                </div>
                <!-- Services List -->
                <div class="bringer-detailed-list-wrap" data-appear="fade-up" data-unload="fade-up">
                    <ul class="bringer-detailed-list">
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Брендинг<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы создаем визуальные истории и создаем стратегические сообщения, которые находят отклик в самых сердцах, укрепляют непоколебимое доверие и превращают клиентов в ярых поборников бренда. Представьте, что ваш логотип оживает: это не просто символ, а объединяющий клич, непоколебимый маяк в море одинаковости. Это сила брендинга, которую мы раскрываем.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Маркетинг<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы разрабатываем кампании, основанные на данных, которые полны энергии, разжигают вовлеченность, как лесной пожар, и превращают клики в конверсии. Представьте себе, что социальные сети полны восторга от вашего бренда, сообщения в блогах вызывают любопытство, а таргетированная реклама находит свое идеальное соответствие. Мы — шторм, который поднимает ваш бренд на все более высокие высоты.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Графический дизайнер<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы создаем визуальные шедевры, которые поют историю вашего бренда в ярких цветах и ​​очаровательных формах. От логотипов, которые запоминаются, до инфографики, которая воплощает в жизнь сложные идеи, — мы привносим эмоциональный заряд и кристальную ясность в каждый пиксель. Пусть ваши визуальные эффекты станут незабываемым лицом вашего бренда.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Веб-дизайн<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы создаем удобные для пользователя веб-сайты, которые превращают посетителей в преданных приверженцев, органично сочетая потрясающую эстетику с интуитивно понятной навигацией и безупречным интерфейсом на каждом экране. Представьте свой веб-сайт как теплое, уютное пространство, где потенциальные клиенты задерживаются, исследуют и в конечном итоге поддаются его обаянию. Мы создаем этот цифровой рай.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Создание контента<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы вплетаем убедительные повествования в сообщения в блогах, тексты веб-сайтов и контент в социальных сетях, которые находят отклик у вашей аудитории, как любимая симфония. Представьте себе, что поисковые системы шепчут название вашего бренда, а клиенты с нетерпением делятся вашей историей. Мы создаем голос, который заставляет ваш бренд петь.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                    </ul>
                </div><!-- .bringer-detailed-list-wrap -->
                <div class="align-center stg-top-gap-l" data-appear="fade-up" data-unload="fade-up">
                    <a href="services.html" class="bringer-button">Изучите все услуги</a>
                </div>
            </section>

            <!-- Section: Our Passion -->
            <section>
                <div class="align-center stg-bottom-gap-l">
                    <h2 data-split-appear="fade-up" data-unload="fade-up">Огонь, который питает нашу страсть.</h2>
                    <p class="bringer-large-text" data-appear="fade-up" data-delay="100" data-unload="fade-up">В Bringer мы верим в силу:</p>
                </div>

                <div class="bringer-grid-2cols" data-stagger-appear="zoom-in" data-delay="150" data-unload="fade-up">
                    <!-- Icon Box Icon -->
                    <div class="bringer-icon-box bringer-block">
                        <h4>Creativity<span class="bringer-accent">.</span></h4>
                        <p class="bringer-large-text">Мы осмеливаемся мечтать о многом и раздвигать границы, никогда не останавливаясь на обыденности.</p>
                        <div class="bringer-box-icon">
                            <i class="bringer-icon bringer-icon-creativity"></i>
                        </div>
                    </div><!-- .bringer-block -->
                    <!-- Icon Box Icon -->
                    <div class="bringer-icon-box bringer-block">
                        <h4>Collaboration<span class="bringer-accent">.</span></h4>
                        <p class="bringer-large-text">Мы ценим разнообразие точек зрения и верим в волшебство совместной работы.</p>
                        <div class="bringer-box-icon">
                            <i class="bringer-icon bringer-icon-collab"></i>
                        </div>
                    </div><!-- .bringer-block -->
                    <!-- Icon Box Icon -->
                    <div class="bringer-icon-box bringer-block">
                        <h4>Impact<span class="bringer-accent">.</span></h4>
                        <p class="bringer-large-text">Нами движет желание изменить ситуацию к лучшему, создать бренды, которые сворачивают горы.</p>
                        <div class="bringer-box-icon">
                            <i class="bringer-icon bringer-icon-impact"></i>
                        </div>
                    </div><!-- .bringer-block -->
                    <!-- Icon Box Icon -->
                    <div class="bringer-icon-box bringer-block">
                        <h4>Инновации<span class="bringer-accent">.</span></h4>
                        <p class="bringer-large-text">Мы остаемся на шаг впереди, внедряя новые технологии &amp; тенденции, чтобы ваш бренд оставался на вершине.</p>
                        <div class="bringer-box-icon">
                            <i class="bringer-icon bringer-icon-innovation"></i>
                        </div>
                    </div><!-- .bringer-block -->
                </div><!-- .bringer-grid -->
            </section>

            <!-- Section: Grid CTA -->
            <section class="backlight-top">
                <div class="bringer-bento-grid bringer-grid-cta">
                    <div class="is-large bringer-masked-block" data-appear="fade-right" data-unload="fade-left">
                        <div class="bringer-grid-cta-media bringer-masked-media" data-bg-src="img/cta/grid-cta-background.jpg">
                            <div class="bringer-grid-cta-heading">Хотите усилить свой голос?</div>
                        </div>
                        <div class="bringer-masked-content at-bottom-right">
                            <p class="bringer-large-text" data-appear="fade-right" data-delay="100">Давайте поговорим о ваших целях &rarr;</p>
                        </div>
                    </div>
                    <div class="is-medium bringer-block" data-appear="fade-down" data-unload="fade-right">
                        <h3>Мы разработаем кампании, которые заставят мир услышать</h3>
                    </div>
                    <div class="is-small" data-appear="zoom-out" data-delay="100" data-unload="zoom-out">
                        <a href="contacts.html" class="bringer-square-button">
                            <span class="bringer-icon bringer-icon-explore"></span>
                        </a>
                    </div>
                    <div class="is-small" data-appear="zoom-out" data-delay="200" data-unload="zoom-out">
                        <img src="img/cta/grid-cta-02.jpg" alt="Let's Chat" width="960" height="960">
                    </div>
                </div>
            </section>

        </div><!-- .stg-container -->

        <!-- Footer -->
        <footer id="bringer-footer" data-appear="fade-up" data-unload="fade-down">
            <!-- Footer Widgets Area -->
            <div class="bringer-footer-widgets">
                <div class="stg-container">
                    <div class="stg-row" data-stagger-appear="fade-left" data-stagger-delay="100">
                        <div class="stg-col-5 stg-tp-col-12 stg-tp-bottom-gap-l">
                            <div class="bringer-info-widget">
                                <a href="./" class="bringer-logo footer-logo">
                                    <img src="img/logo.png" alt="bringer." width="88" height="24">
                                </a>
                                <div class="bringer-info-description">Мы страстная команда разработчиков и дизайнеров, которые верят в силу творчества. Мы помогаем творческим людям создать сильное присутствие в Интернете, которое демонстрирует их работы и рассказывает истории.</div>
                                <span class="bringer-label">Подписывайтесь на нас:</span>
                                <ul class="bringer-socials-list" data-stagger-appear="fade-up" data-stagger-delay="75">
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-facebook">
                                            <i></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-instagram">
                                            <i></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-x">
                                            <i></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-tiktok">
                                            <i></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-patreon">
                                            <i></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="stg-col-2 stg-offset-1 stg-tp-col-4 stg-m-col-4">
                            <div class="bringer-widget">
                                <h6>Услуги</h6>
                                <div class="bringer-menu-widget">
                                    <ul>
                                        <li><a href="service-details.html">Брендинг</a></li>
                                        <li><a href="service-details.html">Маркетинг</a></li>
                                        <li><a href="service-details.html">Графический дизайн</a></li>
                                        <li><a href="service-details.html">Веб-дизайн</a></li>
                                        <li><a href="service-details.html">Создание контента</a></li>
                                    </ul>
                                </div>
                            </div><!-- .bringer-widget -->
                        </div>
                        <div class="stg-col-2 stg-tp-col-4 stg-m-col-4">
                            <div class="bringer-widget">
                                <h6>О нас</h6>
                                <div class="bringer-menu-widget">
                                    <ul>
                                        <li><a href="about-us.html">О нас</a></li>
                                        <li><a href="about-me.html">Обо мне</a></li>
                                        <li><a href="team-member.html">Наша команда</a></li>
                                        <li><a href="testimonials.html">Отзывы</a></li>
                                        <li><a href="contacts.html">Свяжитесь с нами</a></li>
                                    </ul>
                                </div>
                            </div><!-- .bringer-widget -->
                        </div>
                        <div class="stg-col-2 stg-tp-col-4 stg-m-col-4">
                            <div class="bringer-widget">
                                <h6>Resources</h6>
                                <div class="bringer-menu-widget">
                                    <ul>
                                        <li><a href="pricing.html">Цены</a></li>
                                        <li><a href="faq.html">Справочный центр</a></li>
                                        <li><a href="services.html">Наши услуги</a></li>
                                        <li><a href="#">Условия эксплуатации</a></li>
                                        <li><a href="#">политика конфиденциальности</a></li>
                                    </ul>
                                </div>
                            </div><!-- .bringer-widget -->
                        </div>
                    </div><!-- .stg-row -->
                </div><!-- .stg-container -->
            </div><!-- .bringer-footer-widgets -->

            <!-- Footer Copyright Line -->
            <div class="bringer-footer-line stg-container">
                <div class="align-center">
                    Авторское право &copy; 2025. Все права защищены.
                </div>
            </div><!-- bringer-footer-line -->
        </footer>
	</main>

    <!-- Right Click Protection Block -->
    <div class="bringer-rcp-wrap">
        <div class="bringer-rcp-overlay"></div>
        <div class="bringer-rcp-container">
            <h2>На этой странице запрещено использовать контекстное меню.</h2>
        </div>
    </div>

    <!-- Dynamic Backlight -->
    <div class="bringer-backlight"></div>

    <!-- JS Scripts -->
    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/libs.js' %}"></script>
    <script src="{% static 'js/contact_form.js' %}"></script>
    <script src="{% static 'js/st-core.js' %}"></script>
    <script src="{% static 'js/classes.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>