{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title -->
    <title>Bringer | Digital Agency</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">
    <!-- Config -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/config.css' %}">
    <!-- Libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/libs.css' %}">
    <!-- Template Styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png" sizes="32x32">
</head>
<body>
    <!-- Header -->
    <header id="bringer-header" class="is-frosted is-sticky" data-appear="fade-down" data-unload="fade-up">
        <!-- Desktop Header -->
        <div class="bringer-header-inner">
            <!-- Header Logo -->
            <div class="bringer-header-lp">
                <a href="./" class="bringer-logo">
                    <img src="{% static 'img/logo.png' %}" alt="bringer." width="88" height="24">
                </a>
            </div>
            <!-- Main Menu -->
            <div class="bringer-header-mp">
                <nav class="bringer-nav">
                    <ul class="main-menu" data-stagger-appear="fade-down" data-stagger-delay="75">
                        <li class="current-menu-parent">
                            <a href="{% url 'index'%}">Главное</a>
                        </li>
                        <li>
                            <a href="{% url 'about'%}">О нас</a>
                        </li>
                        <li>
                            <a href="#">Страницы</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="services.html">Наши услуги</a>
                                </li>
                                <li>
                                    <a href="service-details.html">Детали услуги</a>
                                </li>
                                <li>
                                    <a href="pricing.html">Цены</a>
                                </li>
                                <li>
                                    <a href="{% url 'faq'%}">Часто задаваемые вопросы</a>
                                </li>
                                <li>
                                    <a href="testimonials.html">Отзывы</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Портфолио</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="portfolio-infinite-list.html">Бесконечный список</a>
                                </li>
                                <li>
                                    <a href="portfolio-slider.html">Слайдер</a>
                                </li>
                                <li>
                                    <a href="portfolio-column.html">Карточки-колонки</a>
                                </li>
                                <li>
                                    <a href="portfolio-grid.html">Карточки-колонки</a>
                                </li>
                                <li class="bringer-menu-divider"></li>
                                <li>
                                    <a href="portfolio-post01.html">Подробности портфолио 01</a>
                                </li>
                                <li>
                                    <a href="portfolio-post02.html">Подробности портфолио 02</a>
                                </li>
                                <li>
                                    <a href="portfolio-post03.html">Подробности портфолио 03</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'contact'%}">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Header Button -->
            <div class="bringer-header-rp">
                <a href="contacts.html" class="bringer-button">Get a FREE Quote</a>
            </div>
        </div>
        <!-- Mobile Header -->
        <div class="bringer-mobile-header-inner">
            <a href="./" class="bringer-logo">
                <img src="img/logo.png" alt="bringer." width="88" height="24">
            </a>
            <a href="#" class="bringer-mobile-menu-toggler">
                <i class="bringer-menu-toggler-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </i>
            </a>
        </div>
    </header>

    <!-- Page Main -->
    <main id="bringer-main">
        <div class="stg-container">
            <!-- Hero Section -->
            <section>
                <div class="bringer-hero-block bringer-hero-type01">
                    <!-- Main Line -->
                    <div class="stg-row stg-bottom-gap-l stg-m-bottom-gap-l">
                        <div class="stg-col-9 stg-tp-col-8 stg-m-col-12">
                            <!-- Title -->
                            <h1 class="bringer-page-title" data-split-appear="fade-up" data-split-unload="fade-up">{{index.title}}</h1>
                        </div>
                        <div class="stg-col-3 stg-tp-col-4 stg-m-col-12">
                            <!-- Social Proof -->
                            <div class="bringer-hero-social-proof">
                                <div data-stagger-appear="fade-up" data-stagger-delay="100" data-stagger-unload="fade-up">
                                    <img src="{% static 'img/home/social-proof01.jpg' %}" alt="Client 01">
                                    <img src="{% static 'img/home/social-proof02.jpg' %}" alt="Client 02">
                                    <img src="{% static 'img/home/social-proof03.jpg' %}" alt="Client 03">
                                    <a href="testimonials.html">24K+</a>
                                </div>
                                <p data-appear="fade-up" data-unload="fade-up" data-delay="200">Нам доверяют более 24 тысяч клиентов</p>
                            </div>
                        </div>
                    </div><!-- .stg-row -->

                    <!-- Masked Media Container -->
                    <div class="bringer-hero-media-wrap bringer-masked-bottom-right bringer-masked-block stg-bottom-gap-l" data-appear="zoom-out" data-unload="zoom-out">
                        <!-- Masked Media -->
                        <div class="bringer-masked-media bringer-masked-media bringer-parallax-media">
                            <img src="img/home/home01-hero.jpg" alt="Unleash Your Creativity">
                        </div>
                        <!-- Content -->
                        <div class="bringer-masked-content at-bottom-right">
                            <a href="#page01" class="bringer-square-button" data-appear="fade-left">
                                <span class="bringer-icon bringer-icon-arrow-down"></span>
                            </a>
                        </div>
                    </div>

                    <!-- Additional Information Line -->
                    <div class="stg-row stg-valign-bottom">
                        <div class="stg-col-3 stg-tp-col-3 stg-m-col-6" data-appear="fade-up" data-delay="200" data-unload="fade-up">
                            <div class="bringer-counter bringer-small-counter" data-delay="3000">
                                <div class="bringer-counter-number">420</div>
                                <div class="bringer-counter-label">Комплексные проекты</div>
                            </div><!-- .bringer-counter -->
                        </div>
                        <div class="stg-col-3 stg-tp-col-3 stg-m-col-6" data-appear="fade-up" data-delay="300" data-unload="fade-up">
                            <div class="bringer-counter bringer-small-counter" data-delay="3000">
                                <div class="bringer-counter-number" data-suffix="+">12</div>
                                <div class="bringer-counter-label">Годы опыта</div>
                            </div><!-- .bringer-counter -->
                        </div>
                        <div class="stg-col-6 stg-tp-col-6 stg-m-col-12 stg-m-top-gap" data-appear="fade-up" data-delay="400" data-unload="fade-up">
                            <p class="bringer-large-text">{{index.description}}</p>
                        </div>
                    </div><!-- .stg-row -->
                </div><!-- .bringer-hero-block -->
            </section>  

            <!-- Section: Steps -->
            <section class="backlight-top" id="page01">
                <div class="stg-bottom-gap-l">
                    <h2 data-appear="fade-up" data-unload="fade-up">4 шага к великолепию бренда</h2>
                </div>
                <!-- Step 01 Row --> 
                {% for i in steps %}
                <div class="stg-row stg-bottom-gap stg-valign-middle stg-m-bottom-gap-l" data-unload="fade-left">
                    <div class="stg-col-3 stg-offset-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-right">
                        <div class="bringer-parallax-media">
                            <img class="bringer-lazy" src="img/null.png" data-src="img/home/step01.jpg" alt="Step 01" width="960" height="960">
                        </div>
                    </div>
                    <div class="stg-col-6 stg-tp-col-6" data-appear="fade-right" data-delay="100">
                        <span class="bringer-label">{{i.num}}</span>
                        <h4>{{i.name_des}}</h4>
                        <p><span class="bringer-highlight">{{i.title}}</span>{{i.description}}</p>
                        <p><span class="bringer-highlight">{{i.title2}}</span>{{i.description2}}</p>
                    </div>
                </div>  
                {% endfor %}
                {% for item in steps %}
                <div class="stg-row stg-valign-middle stg-tp-row-reverse" data-unload="fade-right">
                    <div class="stg-col-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-left">
                        <div class="bringer-parallax-media">
                            <img class="bringer-lazy" src="img/null.png" data-src="img/home/step04.jpg" alt="Step 04" width="960" height="960">
                        </div>
                    </div>      
                    <div class="stg-col-6 stg-tp-col-6" data-appear="fade-left" data-delay="100">
                        <span class="bringer-label">{{item.numl}}</span>
                        <h4>{{item.name_desl}}</h4>
                        <p><span class="bringer-highlight">{{item.titlel}}</span>{{item.descriptionl}}</p>
                        <p><span class="bringer-highlight">{{item.title2l}}</span>{{item.description2l}}</p>
                    </div>
                    <div class="stg-col-3"><!-- Empty Column --></div>
                </div>
                {% endfor %}
            </section>
            
            <!-- Section: About Us -->
            <section class="backlight-bottom divider-top">
                <div class="stg-row stg-large-gap stg-valign-middle stg-tp-column-reverse">
                    <div class="stg-col-6" data-appear="fade-right" data-unload="fade-left">
                        <h3>Мы увлеченная команда дизайнеров и разработчиков.</h3>
                        <p class="bringer-large-text">Мы увлеченная команда дизайнеров и разработчиков, которые верят в силу творчества. </p>
                        <p>Мы — команда увлеченных и опытных дизайнеров, разработчиков и маркетологов, которые специализируются на том, чтобы помочь компаниям любого размера достичь своих целей. Мы считаем, что креативность является ключом к успеху, и стремимся помочь нашим клиентам полностью раскрыть свой потенциал.</p>
                        <div class="align-right">
                            <a href="about-us.html" class="bringer-arrow-link">Узнайте больше о нас</a>
                        </div>
                    </div>
                    <div class="stg-col-6 stg-tp-bottom-gap-l stg-m-bottom-gap" data-unload="fade-right" data-appear="fade-left">
                        <div class="bringer-parallax-media">
                            <img class="bringer-lazy" src="img/null.png" data-src="img/home/about03.jpg" alt="About Us" width="960" height="960">
                        </div>
                    </div>
                </div><!-- .stg-row -->
            </section>

            <!-- Section: Portfolio Carousel -->
            <section class="is-fullwidth is-stretched">
                <!-- Section Title -->
                <div class="stg-row bringer-section-title is-boxed">
                    <div class="stg-col-8 stg-offset-2">
                        <div class="align-center">
                            <h2 data-appear="fade-up" data-unload="fade-up">Наша работа</h2>
                            <p class="bringer-large-text" data-appear="fade-up" data-unload="fade-up" data-delay="100">Мы гордимся своей работой и всегда ищем новые задачи. Взгляните на некоторые из наших недавних портфолио:</p>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Carousel -->
                <div class="swiper bringer-carousel stg-bottom-gap-l" data-appear="fade-up" data-unload="fade-up" data-delay="200" data-count="4" data-m-count="1.5">
                    <div class="swiper-wrapper">
                        <!-- Card Item 01 -->
                        <div class="bringer-block bringer-portfolio-card swiper-slide">
                            <div class="bringer-portfolio-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio01.jpg" alt="" width="1200" height="1200">
                            </div>
                            <div class="bringer-portfolio-card-footer">
                                <div class="bringer-portfolio-card-title">
                                    <span class="bringer-meta">Branding</span>
                                    <h6>Курология</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="portfolio-post01.html"></a>
                        </div><!-- .bringer-portfolio-card -->
                                                
                        <!-- Card Item 02 -->
                        <div class="bringer-block bringer-portfolio-card swiper-slide">
                            <div class="bringer-portfolio-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio02.jpg" alt="" width="1200" height="1200">
                            </div>
                            <div class="bringer-portfolio-card-footer">
                                   <div class="bringer-portfolio-card-title">
                                    <span class="bringer-meta">Реклама</span>
                                    <h6>Тесто для печенья</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="portfolio-post02.html"></a>
                        </div><!-- .bringer-portfolio-card -->
                                                
                        <!-- Card Item 03 -->
                        <div class="bringer-block bringer-portfolio-card swiper-slide">
                            <div class="bringer-portfolio-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio03.jpg" alt="" width="1200" height="1200">
                            </div>
                            <div class="bringer-portfolio-card-footer">
                                <div class="bringer-portfolio-card-title">
                                    <span class="bringer-meta">Маркетинг</span>
                                    <h6>Игровая мощь</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="portfolio-post03.html"></a>
                        </div><!-- .bringer-portfolio-card -->
                                                
                        <!-- Card Item 04 -->
                        <div class="bringer-block bringer-portfolio-card swiper-slide">
                            <div class="bringer-portfolio-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio04.jpg" alt="" width="1200" height="1200">
                            </div>
                            <div class="bringer-portfolio-card-footer">
                                <div class="bringer-portfolio-card-title">
                                    <span class="bringer-meta">Реклама</span>
                                    <h6>Бунт Энергия</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="portfolio-post04.html"></a>
                        </div><!-- .bringer-portfolio-card -->
                                                
                        <!-- Card Item 05 -->
                        <div class="bringer-block bringer-portfolio-card swiper-slide">
                            <div class="bringer-portfolio-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio05.jpg" alt="" width="1200" height="1200">
                            </div>
                            <div class="bringer-portfolio-card-footer">
                                <div class="bringer-portfolio-card-title">
                                    <span class="bringer-meta">Маркетинг</span>
                                    <h6>Смузи</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="portfolio-post05.html"></a>
                        </div><!-- .bringer-portfolio-card -->
                                                
                        <!-- Card Item 06 -->
                        <div class="bringer-block bringer-portfolio-card swiper-slide">
                            <div class="bringer-portfolio-card-image">
                                <img class="bringer-lazy" src="img/null.png" data-src="img/portfolio/portfolio06.jpg" alt="" width="1200" height="1200">
                            </div>
                            <div class="bringer-portfolio-card-footer">
                                <div class="bringer-portfolio-card-title">
                                    <span class="bringer-meta">Бреднинг</span>
                                    <h6>Позитивный напиток</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="portfolio-post06.html"></a>
                        </div><!-- .bringer-portfolio-card -->
                                                
                        <!-- Card Item 07 -->
                        <div class="bringer-block bringer-portfolio-card swiper-slide">
                            <div class="bringer-portfolio-card-image">
                                <img class="bringer-lazy" src="{% static 'img/null.png' %}" data-src="{% static 'img/portfolio/portfolio07.jpg' %}" alt="" width="1200" height="1200">
                            </div>
                            <div class="bringer-portfolio-card-footer">
                                <div class="bringer-portfolio-card-title">
                                    <span class="bringer-meta">Брендинг</span>
                                    <h6>Модный Макияж</h6>
                                </div>
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="portfolio-post07.html"></a>
                        </div><!-- .bringer-portfolio-card -->
                    </div>
                    <!-- Pagination -->
                    <div class="swiper-pagination bringer-dots"></div>
                </div><!-- .bringer-portfolio-carousel -->
                <div class="align-center" data-appear="fade-up" data-unload="fade-up" data-delay="100">
                    <a href="portfolio-slider.html" class="bringer-button">Откройте для себя полное портфолио</a>
                </div>
            </section>

            <!-- Section: Our Services -->
            <section class="backlight-top">
                <!-- Section Title -->
                <div class="stg-row bringer-section-title">
                    <div class="stg-col-8 stg-offset-2">
                        <div class="align-center">
                            <h2 data-appear="fade-up" data-unload="fade-up">Наши услуги</h2>
                            <p class="bringer-large-text" data-appear="fade-up" data-unload="fade-up" data-delay="100">Мы предлагаем широкий спектр креативных услуг, которые помогут компаниям любого размера достичь своих целей. Наши услуги включают в себя:</p>
                        </div>
                    </div>
                </div>
                <!-- Services List -->
                <div class="bringer-detailed-list-wrap" data-appear="fade-up" data-unload="fade-up" data-delay="200">
                    <ul class="bringer-detailed-list">
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Брендинг<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы создаем визуальные истории и создаем стратегические сообщения, которые находят отклик в самых сердцах, укрепляют непоколебимое доверие и превращают клиентов в ярых поборников бренда. Представьте, что ваш логотип оживает: это не просто символ, а объединяющий клич, непоколебимый маяк в море одинаковости. Это сила брендинга, которую мы раскрываем.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Маркетинг<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы разрабатываем кампании, основанные на данных, которые полны энергии, разжигают вовлеченность, как лесной пожар, и превращают клики в конверсии. Представьте себе, что социальные сети полны восторга от вашего бренда, сообщения в блогах вызывают любопытство, а таргетированная реклама находит свое идеальное соответствие. Мы — шторм, который поднимает ваш бренд на все более высокие высоты.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Графический дизайн<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы создаем визуальные шедевры, которые поют историю вашего бренда в ярких цветах и ​​очаровательных формах. От логотипов, которые запоминаются, до инфографики, которая воплощает в жизнь сложные идеи, — мы привносим эмоциональный заряд и кристальную ясность в каждый пиксель. Пусть ваши визуальные эффекты станут незабываемым лицом вашего бренда.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Веб-дизайн<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы создаем удобные для пользователя веб-сайты, которые превращают посетителей в преданных приверженцев, органично сочетая потрясающую эстетику с интуитивно понятной навигацией и безупречным интерфейсом на каждом экране. Представьте свой веб-сайт как теплое, уютное пространство, где потенциальные клиенты задерживаются, исследуют и в конечном итоге поддаются его обаянию. Мы создаем этот цифровой рай.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Создание контента<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>Мы вплетаем убедительные повествования в сообщения в блогах, тексты веб-сайтов и контент в социальных сетях, которые находят отклик у вашей аудитории, как любимая симфония. Представьте себе, что поисковые системы шепчут название вашего бренда, а клиенты с нетерпением делятся вашей историей. Мы создаем голос, который заставляет ваш бренд петь.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                    </ul>
                </div>
                <div class="align-center stg-top-gap" data-appear="fade-up" data-unload="zoom-out" data-delay="100">
                    <a href="services.html" class="bringer-button">Изучите все услуги</a>
                </div>
            </section>

            <!-- Section: CTA -->
            <section data-padding="bottom">
                <div class="bringer-masked-cta bringer-masked-block" data-unload="fade-down">
                    <form action="mail-short.php" method="post" data-fill-error="Please, fill out the form." class="bringer-contact-form is-short bringer-masked-media" data-appear="fade-up">
                        <div class="bringer-form-content bringer-cta-form">
                            <div class="bringer-cta-form-content" data-appear="fade-up" data-delay="100">
                                <div class="bringer-cta-title">Готовы зажечь свой бренд?</div>
                                <input type="email" id="subscribe_email" name="subscribe_email" placeholder="email@example.com" required>
                            </div>
                            <div class="bringer-cta-form-button" data-appear="fade-up" data-delay="200">
                                <button type="submit">
                                    <span class="bringer-icon bringer-icon-arrow-submit"></span>
                                </button>
                            </div>
                            <div class="bringer-contact-form__response"></div>
                        </div>
                        <span class="bringer-form-spinner"></span>
                    </form>
                    <div class="bringer-masked-cta-content bringer-masked-content at-top-right">
                        <p class="bringer-large-text" data-appear="fade-down">Давайте создадим визуальную идентичность, которая воспламенит страсть и лояльность. ✨</p>
                    </div>
                </div>
            </section>
        </div><!-- .stg-container -->

        <!-- Footer -->
        <footer id="bringer-footer" data-appear="fade-up" data-unload="fade-down">
            <!-- Footer Widgets Area -->
            <div class="bringer-footer-widgets">
                <div class="stg-container">
                    <div class="stg-row" data-stagger-appear="fade-left" data-stagger-delay="100">
                        <div class="stg-col-5 stg-tp-col-12 stg-tp-bottom-gap-l">
                            <div class="bringer-info-widget">
                                <a href="./" class="bringer-logo footer-logo">
                                    <img src="img/logo.png" alt="bringer." width="88" height="24">
                                </a>
                                <div class="bringer-info-description">Мы страстная команда разработчиков и дизайнеров, которые верят в силу творчества. Мы помогаем творческим людям создать сильное присутствие в Интернете, которое демонстрирует их работы и рассказывает истории.</div>
                                <span class="bringer-label">Подписывайтесь на нас:</span>
                                <ul class="bringer-socials-list" data-stagger-appear="fade-up" data-stagger-delay="75">
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-facebook">
                                            <i></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-instagram">
                                            <i></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-x">
                                            <i></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-tiktok">
                                            <i></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="bringer-socials-patreon">
                                            <i></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="stg-col-2 stg-offset-1 stg-tp-col-4 stg-m-col-4">
                            <div class="bringer-widget">
                                <h6>Services</h6>
                                <div class="bringer-menu-widget">
                                    <ul>
                                        <li><a href="service-details.html">Брендинг</a></li>
                                        <li><a href="service-details.html">Маркетинг</a></li>
                                        <li><a href="service-details.html">Графический дизайн</a></li>
                                        <li><a href="service-details.html">Веб-дизайн</a></li>
                                        <li><a href="service-details.html">Создание контента</a></li>
                                    </ul>
                                </div>
                            </div><!-- .bringer-widget -->
                        </div>
                        <div class="stg-col-2 stg-tp-col-4 stg-m-col-4">
                            <div class="bringer-widget">
                                <h6>About Us</h6>
                                <div class="bringer-menu-widget">
                                    <ul>
                                        <li><a href="about-us.html">О нас</a></li>
                                        <li><a href="about-me.html">About Me</a></li>
                                        <li><a href="team-member.html">Our Team</a></li>
                                        <li><a href="testimonials.html">Отзывы</a></li>
                                        <li><a href="contacts.html">Свяжитесь с нами</a></li>
                                    </ul>
                                </div>
                            </div><!-- .bringer-widget -->
                        </div>
                        <div class="stg-col-2 stg-tp-col-4 stg-m-col-4">
                            <div class="bringer-widget">
                                <h6>Ресурсы</h6>
                                <div class="bringer-menu-widget">
                                    <ul>
                                        <li><a href="pricing.html">Цены</a></li>
                                        <li><a href="faq.html">Справочный центр</a></li>
                                        <li><a href="services.html">Наши услуги</a></li>
                                        <li><a href="#">Условия эксплуатации</a></li>
                                        <li><a href="#">политика конфиденциальности</a></li>
                                    </ul>
                                </div>
                            </div><!-- .bringer-widget -->
                        </div>
                    </div><!-- .stg-row -->
                </div><!-- .stg-container -->
            </div><!-- .bringer-footer-widgets -->

            <!-- Footer Copyright Line -->
            <div class="bringer-footer-line stg-container">
                <div class="align-center">
                    Авторское право &copy; 2025. Все права защищены.
                </div>
            </div><!-- bringer-footer-line -->
        </footer>
	</main>

   

    <!-- Dynamic Backlight -->
    <div class="bringer-backlight"></div>

    <!-- JS Scripts -->
    <script src="{% static 'js/lib/jquery.min.js'%}"></script>
    <script src="{% static 'js/lib/libs.js'%}"></script>
    <script src="{% static 'js/contact_form.js'%}"></script>
    <script src="{% static 'js/st-core.js'%}"></script>
    <script src="{% static 'js/classes.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>
